.Editor{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/dot_grid.png");
    background-size: 128px;
    background-repeat: repeat;
    
    .Diagram-Parts{
        z-index: 0;
    }

    .Diagram-Connections{
        z-index: 1;
    }

    .Part{
        position: absolute;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;

        &.base-shield{
            background: #2A5F58;
            border-radius: 4px;
            position: relative;

            ._name{
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
                color:white;
            }
        }

        .Pin{
            position: absolute;
            z-index: 2;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            transform: translate(-50%,-50%);
            border: 1px solid red;
            z-index: 10;
            cursor: pointer;

            &:hover{
                background: #00FF00;
            }

            span{
                display: none;
                position: absolute;
                top:50%;
                left: 100%;
                transform: translate(8px, -50%);
                background: white;
                border: 1px solid rgba(0,0,0,0.1);
                padding: 4px;
                border-radius: 4px;
                font-size: 8px;
                white-space: nowrap;
            }

            &:hover span{
                display: block;
            }
        }
    }

    svg{
        top:0px;
        left:0px;
        position: absolute;
        z-index: 1;
    }

    .ContextMenu{
        position: absolute;
        display: flex;
        flex-direction: column;
        display: none;
        background: white;
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
        border-radius: 8px;
        z-index: 99;

        ._color-selector{
            display: flex;
            flex-direction: row;
            gap: 8px;
            padding: 16px;

            span{
                display: block;
                height: 16px;
                width: 16px;
                border-radius: 16px;
                background: var(--color);
                cursor: pointer;
            }
        }

        ._action{
            border-top: 1px solid rgba(0,0,0,0.1);
            padding: 16px;
            cursor: pointer;
        }
    }

    .ComponentSelectorModal{
        position: absolute;
        top:0px;
        left:0px;
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: none;
        justify-content: center;
        align-items: center;

        ._overlay{
            position: absolute;
            top:0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.75);
        }

        ._modal-content{
            position: relative;
            display: flex;
            flex-direction: column;
            background: white;
            padding: 16px;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            z-index: 1001;
            max-width: 400px;
            width: 100%;
            gap: 8px;

            h3{
                margin: 0px;
            }

            ._component-list{
                display: flex;
                flex-direction: column;
                max-height: 300px;
                gap: 8px;
                overflow-y: auto;

                ._component-item{
                    padding: 16px;
                    border-radius: 4px;
                    cursor: pointer;
                    border: 1px solid rgba(0,0,0,0.1);
                }
            }
        }
    }
}