$text-color: #565656;

.Editor{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/dot_grid.png");
    background-size: 128px;
    background-repeat: repeat;
    overflow: hidden;

    .Overlay{
        position: absolute;
        top:0px;
        left:0px;
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        z-index: 99;
        pointer-events: none;

        .Colors{
            padding: 4px;
            border-radius: 32px;
            background: white;
            border: 1px solid rgba(0,0,0,0.1);
            display: flex;
            flex-direction: row;
            gap: 4px;
            pointer-events: all;

            span{
                display: flex;
                padding: 4px;
                height: 32px;
                width: 32px;
                border-radius: 32px;
                border: 1px solid transparent;
                cursor: pointer;

                &::after{
                    content: '';
                    display: block;
                    height: 100%;
                    width: 100%;
                    background: var(--color);
                    border-radius: 32px;
                }

                &:hover, &.active{
                    border-color: rgba(0,0,0,0.1);
                }
            }
        }

        .Zoom{
            padding: 4px;
            border-radius: 32px;
            background: white;
            border: 1px solid rgba(0,0,0,0.1);
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            pointer-events: all;

            img{
                height: 32px;
                width: 32px;
                object-fit: contain;
                padding: 4px;
                border-radius: 32px;
                border: 1px solid transparent;
                cursor: pointer;

                &:hover{
                    border-color: rgba(0,0,0,0.1);
                }
            }

            span{
                font-weight: 600;
            }
        }
    }

    .Menu{
        z-index: 50;
        display: none;
        min-width: 200px;
        position: absolute;
        padding: 8px;
        border-radius: 16px;
        background: white;
        border: 1px solid rgba(0,0,0,0.1);
        pointer-events: all;
        transform: translate(-50%, 16px);

        &.MenuList{
            flex-direction: column;
            .Item{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding:8px;
                border-radius: 8px;
                gap: 8px;
                cursor: pointer;

                img{
                    height: 24px;
                    width: 24px;
                    object-fit: contain;
                }

                span{
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--color, $text-color);
                }

                &:hover{
                    background: rgba(0,0,0,0.025);
                }
            }
        }

        &.MenuConnection{
            border-radius: 32px;

            .list{
                display: flex;
                flex-direction: row;
                padding-right: 8px;
                border-right: 1px solid rgba(0,0,0,0.1);
                margin-right: 8px;
                gap: 4px;

                &:last-child{
                    border:none;
                    margin-right: 0px;
                }

                span{
                    display: flex;
                    padding: 4px;
                    height: 32px;
                    width: 32px;
                    border-radius: 32px;
                    border: 1px solid transparent;
                    cursor: pointer;

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        cursor: pointer;
                    }

                    &:hover{
                        background: rgba(0,0,0,0.025);
                    }

                    &::after{
                        content: '';
                        display: block;
                        height: 100%;
                        width: 100%;
                        background: var(--color);
                        border-radius: 32px;
                    }

                    &:hover, &.active{
                        border-color: rgba(0,0,0,0.1);
                    }
                }
            }
        }
    }

    .Connections-Container{

        .Connection .Dot{
            &:hover{
                cursor: grab;
            }
        }

        .Connection.selected{
            z-index: 10;
        }
    }

    .Components-Container{
        .Component{
            position: absolute;
            cursor: grab;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            
            img{
                position: relative;
                z-index: -1;
            }

            &.selected::before{
                content: '';
                z-index: -1;
                border-radius: 8px;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                width: calc(100% + 8px);
                height: calc(100% + 8px);
                border: 3px solid #1E90FF;
                filter: drop-shadow(0 0 5px #1E90FF);
            }
            
            &.base-shield{
                background: #2A5F58;
                border-radius: 4px;
                position: relative;

                ._name{
                    position: absolute;
                    left:50%;
                    top:50%;
                    transform: translate(-50%,-50%);
                    color:white;
                }
            }

            .Pin{
                position: absolute;
                z-index: 2;
                width: 8px;
                height: 8px;
                border-radius: 8px;
                transform: translate(-50%,-50%);
                border: 1px solid red;
                z-index: 5;
                cursor: pointer;

                &:hover{
                    background: #00FF00;
                }

                span{
                    display: none;
                    position: absolute;
                    top:50%;
                    left: 100%;
                    transform: translate(8px, -50%);
                    background: white;
                    border: 1px solid rgba(0,0,0,0.1);
                    padding: 4px;
                    border-radius: 4px;
                    font-size: 8px;
                    white-space: nowrap;
                    z-index: 10;
                }

                &:hover span{
                    display: block;
                }
            }
        }

    }

    
    svg{
        top:0px;
        left:0px;
        position: absolute;
        z-index: 1;
        pointer-events: none;

        path, line{
            pointer-events: all;
            &:hover{
                cursor: pointer;
            }
            &.selected{
                filter: drop-shadow(0 0 5px var(--color));
            }
        }

        circle{
            pointer-events: all;
        }
    }

    .Popup{
        display: none;
        position: absolute;
        top:0px;
        left:0px;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.25);
        z-index: 999;
        align-items: center;
        justify-content: center;

        .container{
            min-width: 300px;
            padding: 16px;
            border-radius: 16px;
            background: white;
            border:1px solid rgba(0,0,0,0.1);

            h1{
                margin:0px;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 8px;
            }

            .Item{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding:8px;
                border-radius: 8px;
                gap: 8px;
                cursor: pointer;

                img{
                    height: 24px;
                    width: 24px;
                    object-fit: contain;
                }

                span{
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--color, $text-color);
                }

                &:hover{
                    background: rgba(0,0,0,0.025);
                }
            }
        }
    }
}